MyFirstSolution/MyFirstConsole/bin/
MyFirstSolution/MyFirstConsole/obj/
MyFirstSolution/MySecondConsole/obj/
Task №1/Task №1/obj/
Task №1/Task №2/obj/
Task №1/Task №1/bin/
MyFirstSolution/MySecondConsole/bin/
MyFirstSolution/.vs/
Task №1/.vs/
